<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abstract Cinema</title>
</head>
<body>
    <h1>Hello Abstract Cinema</h1>
    <ul>
        <li><a href="/cinemaRooms">Cinema Rooms List</a></li>
        <li><a href="/cinemaScheduler">Cinema Scheduler List</a></li>
        <li><a href="/client">Client List</a></li>
        <li><a href="/countriesOfMovie">Countries Of Movie List</a></li>
        <li><a href="/directorsOfMovie">Directors Of Movie List</a></li>
        <li><a href="/languagesOfMovie">Languages Of Movie List</a></li>
        <li><a href="/movieAvailable">Movie Available List</a></li>
        <li><a href="/movieCountries">Movie Countries List</a></li>
        <li><a href="/movieDirectors">Movie Directors List</a></li>
        <li><a href="/movieGeneralInfo">Movie General Info List</a></li>
        <li><a href="/movieLanguage">Movie Language List</a></li>
        <li><a href="/movieTechnologies">Movie Technologies List</a></li>
        <li><a href="/movieType">Movie Type List</a></li>
        <li><a href="/reportSoldTickets">Report Sold Tickets List</a></li>
        <li><a href="/technologiesOfMovie">Technologies Of Movie List</a></li>
        <li><a href="/typesOfMovie">Types Of Movie List</a></li>
    </ul>
</body>
</html>